<div class="opinion-section">
    <div class="row">
        <div class="col-7">
            <h2>Queremos conocer tu opinión</h2>

            <div class="participation  mb-3" *ngFor="let participation of participations">
                <div>
                    <p [ngClass]="{'activo': participation.status == 'ACTIVO!', 'lastday': participation.status == 'FALTA UN DIA' , 'results': participation.status == 'CONOCE LOS RESULTADOS'}" class="status text-white pl-3">{{participation.status}}</p>
                    <p  class="title font-weight-bold">{{participation.title}}</p>
                    
                    <div class="d-flex">
                        <p class="author">{{participation.author}}</p>
                        <p *ngIf="participation.participants >=1" class="participants ml-auto">{{participation.participants}} colombianos participando</p>
                    </div>
                    
                </div>
              </div>
            
              <a class="d-flex justify-content-end  align-items-center">Conocer otros ejercicios de participacion<span class="govco-icon govco-icon-right-arrow text-decoration-none"></span></a>
        </div>
        <div class="col-5 card govco-card align-items-center">
            <form [formGroup]="opinionForm" (ngSubmit)="onSubmit(opinionForm.value)" class="h-100 py-2 px-3">
                <h3 class="form-title mb-0">Cuentanos</h3>
                <h4 class="form-subtitle mb-0">¿Como podemos mejorar GOV.CO?</h4>
                <p class="body">Estamos construyendo este espacio pata ti y tu opinion nos ayuda a crecer</p>
                <textarea class="form-control" formControlName="opinions" rows="5" placeholder="Escribe aquí tu opinión" id="textarea-example" maxlength="300">
                </textarea>
                <button class="btn btn-round btn-middle d-block mx-auto mt-3" type="submit">
                    Enviar mi opinión
                </button>
            </form>
        </div>
    </div>
</div>
