<div class="opinion-section">
    <div class="row">
        <div class="col-7">
            <h2>Queremos conocer tu opinion</h2>

            <div class="" *ngFor="let participation of participations">
                <div>
                    <p>{{participation.status}}</p>
                    <p>{{participation.title}}</p>
                    <p>{{participation.author}}</p>
                    <p>{{participation.participants}} colombianos participando</p>
                </div>
                <br>
              </div>
            
            <a href="">Conocer otros ejercicios de participacion</a>
        </div>
        <div class="col-5 card govco-card">
            <form [formGroup]="opinionForm" (ngSubmit)="onSubmit(opinionForm.value)">
                <h3>Cuentanos</h3>
                <h4>Como podemos mejorar GOV.CO?</h4>
                <p>Estamos construyendo este espacio pata ti y tu opinion nos ayuda a crecer</p>
                <textarea class="form-control" formControlName="opinions" rows="5" placeholder="Escribe aquí tu opinión" id="textarea-example" maxlength="300">
                </textarea>
                <button  [disabled]="opinionForm.invalid" class="btn btn-primary d-block mx-auto" type="submit">
                    <i class="fas fa-search"></i>
                    Buscar
                </button>
            </form>
        </div>
    </div>
</div>
