.govco-card .govco-card-image {
    width: 12.5vh;
    height: auto;
}

h2{
    font: normal normal 300 44px/60px Work Sans;
    letter-spacing: 0px;
    line-height: inherit;
}

.title{
    font: normal normal 300 33px/39px Work Sans;
letter-spacing: 0px;
text-align: left;
}

.title, .subtitle{
    font: normal normal 300  Work Sans;
    letter-spacing: 0px; 
    color: #0B457F;
}