<div>
    <h2>Infórmate</h2>
    <div class="card govco-card ">
        <img src="/assets/images/colombiaco.png" class="card-img govco-card-image govco-card-image-top" alt="..." />
        <div class="card-body">
          <p>Esta card contiene una imagen y una breve descripción </p>
        </div>
      </div>
      <div class="card govco-card ">
        <img src="/assets/images/colombiaco.png" class="card-img govco-card-image govco-card-image-top" alt="..." />
        <div class="card-body">
          <p>Esta card contiene una imagen y una breve descripción </p>
        </div>
      </div>
      <div class="card govco-card ">
        <img src="/assets/images/colombiaco.png" class="card-img govco-card-image govco-card-image-top" alt="..." />
        <div class="card-body">
          <p>Esta card contiene una imagen y una breve descripción </p>
        </div>
      </div>
      <div class="card govco-card ">
        <img src="/assets/images/colombiaco.png" class="card-img govco-card-image govco-card-image-top" alt="..." />
        <div class="card-body">
          <p>Esta card contiene una imagen y una breve descripción </p>
        </div>
      </div>
      <div class="card govco-card ">
        <img src="/assets/images/colombiaco.png" class="card-img govco-card-image govco-card-image-top" alt="..." />
        <div class="card-body">
          <p>Esta card contiene una imagen y una breve descripción </p>
        </div>
      </div>
</div>
