<div class="interes-section">
  <h2 class="pl-5 ml-5">Otros temas de tu interes</h2>
  <div class="row col-12 d-flex m-0 px-5">

      <div class="col-md-6 p-2" *ngFor="let info of information; let nume = index">
        <div class="card govco-card">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 pl-0">
              <img class="card-img govco-card-image govco-card-image-left ml-5 mt-5 " src="/assets/images/{{info.image}}" alt="..." />
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 pl-0">
              <div class="card-header govco-card-header justify-content-start pl-0">
                <a class="title">{{info.title}}</a>
              </div>
              <div class="card-body pl-0">
                <p class="subtitle">{{info.subtitle}}</p>
                <a class="d-flex justify-content-end  align-items-center">{{info.link}}<span class="govco-icon govco-icon-right-arrow text-decoration-none"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
</div>

