<div class="info-section">
  <h2>Infórmate</h2>
  <div class="row col-12 d-flex m-0 p-0 ">

          <div *ngFor="let new of news; let nume = index" class="card govco-card justify-content-end m-5 p-0" [ngClass]="nume==0 ? 'col-7' : 'col-3'">
            <img src="/assets/images/{{new.image}}" class="card-img govco-card-image govco-card-image-top" alt="..." />
            <div class="card-body position-absolute">
              <p>{{new.date}}</p>
              <p>{{new.title}}</p>
            </div>
          </div>
  
  </div>
</div>



