<div>
  <h2>Otros temas de tu interes</h2>
<div class="col-md-3">
    <div class="card govco-card">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <img class="card-img govco-card-image govco-card-image-left" src="/assets/images/colombiaco.png" alt="..." />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card-header govco-card-header">
            <a>¿Sabes qué son los datos abiertos y cómo usarlos?</a>
          </div>
          <div class="card-body">
            <p>La información que producen las entidades públicas de su
              trabajo, todo a tu alcance</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card govco-card">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <img class="card-img govco-card-image govco-card-image-left" src="/assets/images/colombiaco.png" alt="..." />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card-header govco-card-header">
            <a>¿Sabes qué son los datos abiertos y cómo usarlos?</a>
          </div>
          <div class="card-body">
            <p>La información que producen las entidades públicas de su
              trabajo, todo a tu alcance</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card govco-card">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <img class="card-img govco-card-image govco-card-image-left" src="/assets/images/colombiaco.png" alt="..." />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card-header govco-card-header">
            <a>¿Sabes qué son los datos abiertos y cómo usarlos?</a>
          </div>
          <div class="card-body">
            <p>La información que producen las entidades públicas de su
              trabajo, todo a tu alcance</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card govco-card">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <img class="card-img govco-card-image govco-card-image-left" src="/assets/images/colombiaco.png" alt="..." />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card-header govco-card-header">
            <a>¿Sabes qué son los datos abiertos y cómo usarlos?</a>
          </div>
          <div class="card-body">
            <p>La información que producen las entidades públicas de su
              trabajo, todo a tu alcance</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
