h2{
    font: normal normal 300 44px/60px Work Sans;
    letter-spacing: 0px;
    line-height: inherit;
}

.card-body{ 
    z-index: 5;
    background-color: white;
    margin: 1vh;
    bottom: -2.5vh;
    border-radius: 10px;
    height: 45%;
    width: 90%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.17);
}

.col-8 {
    flex: 0 0 66.6666666667%;
    max-width: 64.666667% !important;
}

.date{
    font: normal normal normal 14px/16px Work Sans;
    letter-spacing: 0px;
    color: #0B457F;
}
.col-4 {
    flex: 0 0 66.6666666667%;
    max-width: 31.666667% !important;
}

.title{
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #0B457F;
}

.govco-card {
    max-height: 30vh;
}       

.news{
    .govco-card:not(:first-of-type) {
    max-width: 30% !important;
  }
  .govco-card:first-of-type {
    max-width: 66% !important;
  }
}
