.card-body{ 
    z-index: 5;
    background-color: white;
    margin: 1vh;
    bottom: -5vh;
    border-radius: 10px;
    min-width: 95%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.17);
}

.govco-card {
    max-height: 40vh;
}       

.news{
    .govco-card:not(:first-of-type) {
    max-width: 30vw !important;
  }
  .govco-card:first-of-type {
    width: 160vw !important;
  }
}
